  a{
    text-decoration: none;
  }
  .saw{
    color:gray;
  }
  #active{
    color:black;
    font-size:1.1em;
  }
  #all{
    display: grid;
    grid-template-columns: 100px 1fr;
    border: 2px solid gold;
  }
  .menu{
    border-right:2px solid gold;
    background-color: gold;
    line-height: 150%
  }
  .main{
    background-color: #FFFFCC;
    padding-left: 15px
  }
  ul{
    padding-left: 20px
  }
  td{
    text-align:center
  }
  .인풋{
    input[type=text]
  }
  .main-img{
    width: 100%;
    height: 0;
    padding-top: calc(820 / 1920 * 100%);
    background-image: url('사진/라오킹 메인 사진.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }